/*
 *  piccoPage component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------

// wysiwyg body
.wysiwyg-body(@link-color) {
  h1, h2, h3, h4, h5, h6 {
    font-family: @pxl-text-font-bold;
    font-size: @font-size-base;
    font-weight: normal;
  }
  h1, h2 {
    font-size: @font-size-h2;
  }
  h3 {
    font-size: @font-size-larger;
  }

  div, p, tbody td {
    font-family: @pxl-text-font-serif;
    font-size: @font-size-base;
  }

  pre, address {
    margin: 0 0 10px;
    font-family: @pxl-text-font-italics;
    font-size: @font-size-small;
  }

  hr {
    border: 0;
    border-bottom: 2px dotted @modal-text-color;
    background: none;
  }

  img, embed, video, audio, iframe {
    display: block;
    max-width: 100%;
    height: auto;
  }
}



// General settings
// -------------------------
.node-piccopage {

  a {
    font-family: @pxl-text-font-serif;
    text-decoration: underline;
    text-transform: lowercase;
    color: @modal-link-color;
    outline: none;

    &:hover {
      text-decoration: none;
      color: @modal-link-color-hover;
      outline: none;
    }
  }

  .field-name-title {
    margin-top: -60px;
    font-family: @pxl-text-font-bold;
    font-size: @font-size-h2;
    border-bottom: 2px dotted @modal-text-color;
  }

  .field-name-body {
    margin-top: 20px;
    .wysiwyg-body(@modal-link-color);
  }

  .field-name-picco-menu-block {
    // menu
    padding: 20px 0;

    .view-piccomenu {
      .view-content {
        .panel-group {
          margin: 0;

          .panel {
            border: none;
            background: transparent none;
            #pxl-mixins.box-shadow(none);

            .panel-heading {
              padding: 0 0 10px;
              background-color: transparent;

              .panel-title {
                a {
                  font-family: @pxl-text-font-bold;
                  font-size: @font-size-large;
                  color: @modal-text-color;
                  text-decoration: none;

                  &:hover, &.active {
                    text-decoration: none;
                  }

                  span.fa {
                    margin: 0 10px;
                  }
                }
              }
            }

            .panel-collapse {
              .panel-body {
                padding: 0 0 20px;
                border: none;

                .views-field-body {
                  .wysiwyg-body(@modal-link-color);
                }
              }
            }
          }
        }
      }
    }
  }

  .field-name-picco-events-block {
    // events
    padding: 20px 0;

    .view-picco-events {
      .view-content {
        .node-piccoevent {
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 2px dotted @modal-text-color;

          .field-name-body,
          .field-name-body h2 {
            margin-top: 0;
          }

          .field-name-field-date {
            display: inline-block;
            font-family: @pxl-text-font-bold;
            font-size: @font-size-large;

            .field-item:after {
              display: inline-block;
              content: '\00a0-\00a0'
            }
          }

          .field-name-field-picco-format {
            display: inline-block;
            font-family: @pxl-text-font-bold;
            font-size: @font-size-large;

            .field-item:after {
              display: inline-block;
              content: ':'
            }
          }

          .field-name-field-flyer {
            margin-bottom: 20px;
            img {
              width: 100%;
              max-width: 100%;
              height:auto;
            }
          }
        }
      }
    }
  }


}